<a href="https://colab.research.google.com/github/MahmoodInamdar/Python-projects-MI/blob/main/Final_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mahmood Inamdar: GH1023619

This will be my final Assessment which will be submitted on canva.

The Data which is used by me is Heart Stroke Prediction based on few features labels.

The data was exported from https://www.kaggle.com/datasets/swetha0406/heart-stroke-prediction.

Below I have imported all the libraries together which are:

1. Pandas for Data. 
2. Model selection for grid search.
3. sklearn.metrics for support vector machine.
4. sklearn.preprocessing for Encoding and Building a standardization model.
5. sklearn.decomposition for reducing the dimentionality. 
6. imblearn.over_sampling for SMOTE

In [126]:
import pandas as pd
import sklearn.model_selection
import sklearn.svm
import sklearn.metrics
import sklearn.preprocessing
import imblearn.over_sampling
import sklearn.decomposition
import numpy as np

Importing Data:

The Data Stroke.csv has in total of 43410 rows and 11 coloums. 

Features such as:
1. Gender ( male, Female)
2. Age (Int)
3. Hypertension (0=no,1=yes)
4. Heart Disease (0=no,1=yes)
5. Ever_Married	(no , yes)
6. Work_Type (children,Private,Self-employed,Govt_job)
7. Residence_Type	( Rural , Urban )
8. Avg_Glucose_Level	(Float)
9. BMI	(Float)
10. Smoking_Status	(null,never smoked,formerly smoked
,smokes)

Target Label:

11. Stroke.

In the below steps, I have imported the data and added it to a variable df (data frame).

As of now, I will go ahead with the sample of 5000 dataset to complete the pipeline.

Just to remove the non important feature which is 'ID' which has been dropped from my dataset moving forward. 

Printing my data head just to check if the data was properly updated and ID was removed or not.

In [127]:
df = pd.read_csv("Stroke.csv")
df = df.sample(10000)
df = df.drop(['ID'], axis=1)

df.head(2)

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,BMI,Smoking_Status,Stroke
34936,Female,71.0,1,0,Yes,Private,Urban,73.72,23.7,never smoked,0
27661,Male,73.0,0,0,Yes,Private,Rural,68.53,29.5,formerly smoked,0

Converting Age feature label to integer.

In [128]:
df.Age = df.Age.astype(int)

Printing the data head just for checking my data.

In [129]:
df.head()

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,BMI,Smoking_Status,Stroke
34936,Female,71,1,0,Yes,Private,Urban,73.72,23.7,never smoked,0
27661,Male,73,0,0,Yes,Private,Rural,68.53,29.5,formerly smoked,0
5797,Female,39,0,0,Yes,Self-employed,Rural,69.64,26.7,formerly smoked,0
17422,Female,45,0,0,Yes,Private,Rural,57.49,25.8,never smoked,0
14974,Female,42,0,0,Yes,Self-employed,Urban,101.33,23.2,formerly smoked,0

In the below step, 

I have splitted the data in df train and df test to avoid data leakage and be fair with the testing model. To make sure that the final model works as predicted, test and training data are seperated.

1. Train Data - The model will be trained with the training set and learn from the data and parameters. 

2. Test Data - The model will be used to test the final model and evaluate the final algorithm.

In [130]:
df_train, df_test = sklearn.model_selection.train_test_split(df)

print("df_train size:" , df_train.shape)
print("df_test size:" , df_test.shape)

df_train size: (7500, 11)
df_test size: (2500, 11)

Data preprosessing and feature engineering:

1. Data exploration
  
  Using For loop to check if the train set has any explicit or implicit value. 

  In the coloumn Age: 

  I have found 1 implicit value which is '0'. 

  In the coloumn Smoking_Status:

  I have found an explicit value which is a null value 'nan'.

In [131]:
for i in df_train.columns:
  print(i)
  print(df_train[i].unique(),"\n")

Gender
['Female' 'Male' 'Other']

Age
[53 61 79 38 28 41 42  5 70  3 74 37 60 56 72 57 80 17 44 43 32  1 50 63
 20 62  9 47 73 22 40 69 36 76 58 64 19 48 24 81 45 39 29 59 26 31 52 78
 14 12 66 15 33  8  2 54 46 55 51 21 49 18 65 27 13 82 11 25 23 67 68  0
 75 34 30  7 35 71  4 16 77 10  6]

Hypertension
[0 1]

Heart_Disease
[0 1]

Ever_Married
['Yes' 'No']

Work_Type
['Private' 'Self-employed' 'Govt_job' 'children' 'Never_worked']

Residence_Type
['Urban' 'Rural']

Avg_Glucose_Level
[ 79.38  97.49  74.56 ... 143.33  94.69  79.7 ]

BMI
[21.5 36.2 43.2 57.3 25.9  nan 30.4 16.4 19.3 33.5 32.8 38.9 25.2 36.
 29.3 18.6 24.1 50.6 30.9 28.8 18.9 36.6 28.9 17.2 28.1 23.1 24.  26.2
 21.8 17.  32.9 25.6 22.7 28.2 19.6 22.4 41.  23.2 22.8 35.3 31.4 36.9
 19.7 24.3 20.7 41.1 30.6 23.3 27.1 25.3 31.3 21.3 30.1 27.9 24.9 28.5
 22.  23.8 29.1 29.8 30.5 39.  16.7 16.1 35.6 35.5 19.5 15.7 29.6 26.8
 23.7 16.9 25.  18.5 19.1 17.7 31.1 39.2 37.9 38.2 20.8 46.9 24.2 21.1
 39.1 17.8 26.1 42.4 21.2 19.  26.9 38.7 50.  17.1 32.5 20.4 20.9 44.7
 26.4 35.2 18.7 33.3 39.5 14.1 33.8 24.7 22.1 30.8 34.3 22.5 29.4 33.1
 34.8 27.  30.3 32.1 20.5 26.7 19.8 21.6 23.9 39.8 23.  30.7 19.9 21.4
 43.8 31.  44.2 39.7 24.6 25.8 28.6 28.7 34.9 34.  28.  36.1 28.4 35.1
 37.2 31.7 28.3 22.2 24.8 19.4 29.7 25.7 15.  32.  22.6 27.8 34.7 37.5
 22.3 32.2 14.6 26.3 35.  18.1 30.  13.9 31.8 17.6 38.1 43.4 27.7 20.1
 40.9 47.9 27.3 15.2 29.9 16.6 34.6 21.  34.4 24.5 16.3 44.9 42.7 40.2
 36.3 20.2 46.1 27.2 31.5 23.4 48.1 16.2 33.2 20.6 38.  13.7 33.  51.8
 25.5 17.4 18.3 37.6 40.1 27.5 53.8 42.8 31.9 34.2 40.4 26.5 32.3 40.6
 38.5 52.1 15.5 37.  23.6 33.7 38.4 35.7 27.4 38.8 33.9 36.7 44.8 25.4
 45.6 29.5 37.7 41.4 19.2 31.6 39.9 45.3 42.2 13.8 47.7 35.8 31.2 43.5
 21.9 41.2 37.4 12.8 38.6 41.6 14.7 16.  30.2 35.9 18.4 37.1 44.  53.6
 62.2 32.4 15.9 18.2 29.2 14.3 49.1 14.8 21.7 40.  15.6 27.6 23.5 39.6
 18.8 36.5 20.  51.7 45.9 47.6 26.  17.9 26.6 35.4 15.8 29.  39.4 20.3
 18.  52.  44.1 16.8 32.6 34.1 41.9 25.1 36.8 13.3 17.5 47.2 16.5 50.3
 52.8 47.  15.1 37.3 32.7 22.9 55.  33.6 37.8 17.3 14.4 55.2 33.4 47.5
 42.3 14.2 36.4 50.5 41.5 51.  45.8 24.4 46.  58.6 52.4 42.6 41.3 43.7
 46.8 46.3 47.4 56.2 50.2 11.3 52.7 42.  43.1 45.7 46.7 43.3 45.4 39.3
 34.5 65.5 13.1 47.1 44.5 40.7 38.3 40.5 41.8 40.8 50.8 42.1 45.5 64.8
 44.3 42.5 54.5 48.4 47.8 15.3 42.9 49.8 49.7 50.4 45.2 55.5 40.3 53.1
 60.7 14.  49.3 15.4 46.5 50.9 45.  43.9 44.4 48.9 45.1 58.3 61.9 46.2
 43.  56.1 14.5 48.2 54.  41.7 63.2 49.2 49.4 53.4 50.1 48.6 49.5 55.7
 78.  55.6 58.5 48.8 59.1 13.5 44.6 47.3 54.9 56.  14.9 48.5 64.  46.6
 52.3 56.7 61.1 80.2 52.9 61.2 59.9 51.1 58.8 48.  57.6 46.4 55.3 60.5
 51.5 13.6 43.6 65.3 49.6 51.9 58.2 57.5 54.8 54.1 11.1 51.3 88.6 49.9
 51.4]

Smoking_Status
['smokes' 'formerly smoked' 'never smoked' nan]

Stroke
[0 1]

Checking how many null values are present in my training set.

In [132]:
df_train.isnull().sum()

Gender                  0
Age                     0
Hypertension            0
Heart_Disease           0
Ever_Married            0
Work_Type               0
Residence_Type          0
Avg_Glucose_Level       0
BMI                   241
Smoking_Status       2301
Stroke                  0
dtype: int64

Replacing all the implicit missing values to null values and dropping them.

Replacing all the explicit  values to null values and dropping them.

In [133]:
df_train = df_train.replace(" ", pd.NaT)   
df_train["Age"] = df_train["Age"].replace(0, pd.NaT)
df_train = df_train.dropna()


df_test = df_test.replace(" ", pd.NaT)     
df_test["Age"] = df_test["Age"].replace(0, pd.NaT)
df_test = df_test.dropna()



print("df_train size:", df_train.shape)
print("df_test size:", df_test.shape)

df_train size: (5025, 11)
df_test size: (1658, 11)

Checking my data head and tail.

In [134]:
df_train.head(10)

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,BMI,Smoking_Status,Stroke
20021,Female,53,0,0,Yes,Private,Urban,79.38,21.5,smokes,0
26014,Male,61,0,0,Yes,Private,Rural,97.49,36.2,smokes,0
18398,Female,79,0,0,Yes,Self-employed,Urban,74.56,43.2,formerly smoked,0
17413,Male,38,0,0,Yes,Govt_job,Urban,101.60,57.3,formerly smoked,0
36777,Female,28,0,0,Yes,Govt_job,Urban,82.25,25.9,never smoked,0
25853,Male,74,0,0,Yes,Private,Urban,77.67,33.5,formerly smoked,0
36641,Female,37,0,0,Yes,Private,Urban,100.13,32.8,smokes,0
37553,Male,60,0,0,Yes,Private,Urban,106.47,38.9,never smoked,0
37733,Male,72,1,1,Yes,Govt_job,Urban,135.23,36.0,formerly smoked,1
21231,Male,57,0,0,Yes,Govt_job,Urban,68.17,29.3,smokes,0

Checking my data head and tail.

In [135]:
df_train.tail(10)

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,BMI,Smoking_Status,Stroke
10585,Female,50,0,0,Yes,Private,Urban,63.28,26.7,formerly smoked,0
5915,Male,18,0,0,No,Private,Rural,60.98,25.4,never smoked,0
2914,Other,26,0,0,No,Private,Rural,143.33,22.4,formerly smoked,0
34979,Female,47,0,0,Yes,Private,Urban,69.83,31.1,formerly smoked,0
29556,Female,59,1,0,Yes,Self-employed,Rural,94.69,24.3,never smoked,0
4228,Female,34,0,0,No,Private,Urban,70.87,55.7,formerly smoked,0
38776,Female,47,0,0,Yes,Private,Urban,94.46,30.4,never smoked,0
31121,Female,59,0,0,Yes,Private,Urban,113.89,23.7,never smoked,0
39032,Female,45,0,0,Yes,Self-employed,Urban,111.10,25.5,never smoked,0
38992,Female,49,0,0,Yes,Private,Urban,79.70,38.0,never smoked,0

Re-checking if all the values are properly update after replacing them and dropping them.

In [136]:
for i in df_train.columns:
  print(i)
  print(df_train[i].unique(),"\n")

Gender
['Female' 'Male' 'Other']

Age
[53 61 79 38 28 74 37 60 72 57 80 17 41 43 32 50 63 44 20 62 47 73 22 69
 36 76 64 19 48 81 45 39 29 59 26 31 52 78 56 15 33 54 58 46 55 51 21 49
 27 13 25 23 67 68 66 75 34 40 24 30 70 35 18 82 71 42 16 77 65 12 14 11
 10]

Hypertension
[0 1]

Heart_Disease
[0 1]

Ever_Married
['Yes' 'No']

Work_Type
['Private' 'Self-employed' 'Govt_job' 'Never_worked' 'children']

Residence_Type
['Urban' 'Rural']

Avg_Glucose_Level
[79.38 97.49 74.56 ... 94.69 70.87 79.7 ]

BMI
[21.5 36.2 43.2 57.3 25.9 33.5 32.8 38.9 36.  29.3 18.6 24.1 50.6 28.8
 18.9 36.6 28.9 28.1 23.1 24.  26.2 21.8 32.9 25.6 22.7 28.2 22.4 30.4
 23.2 22.8 31.4 24.3 41.1 30.6 27.1 25.3 31.3 21.3 30.1 27.9 24.9 28.5
 22.  23.8 29.1 29.8 30.5 39.  35.6 35.5 19.5 26.8 23.7 25.  18.5 19.1
 31.1 39.2 37.9 38.2 46.9 24.2 21.1 39.1 26.1 42.4 21.2 38.7 17.1 20.9
 44.7 35.2 41.  33.3 39.5 33.8 22.1 30.8 20.8 29.4 33.1 34.8 24.7 27.
 32.1 26.7 21.6 23.9 39.8 23.  30.7 19.9 43.8 31.  44.2 39.7 24.6 25.8
 28.6 28.7 34.9 28.  36.1 28.4 37.2 28.3 22.2 24.8 29.7 25.7 15.  31.7
 27.8 34.7 37.5 32.2 26.3 35.  30.9 23.3 35.1 30.  38.1 43.4 27.7 47.9
 27.3 29.9 19.4 34.6 34.4 24.5 42.7 40.2 46.1 31.5 48.1 33.2 38.  26.9
 33.  36.3 19.6 26.4 32.5 34.  25.5 29.6 34.3 22.6 40.1 27.2 36.9 40.9
 21.4 35.3 53.8 27.5 20.5 31.9 31.8 34.2 40.4 26.5 32.3 40.6 38.5 52.1
 22.5 37.  23.6 33.7 38.4 35.7 27.4 38.8 19.  36.7 44.8 25.4 45.6 29.5
 41.4 31.6 39.9 45.3 42.2 19.8 47.7 35.8 31.2 43.5 37.4 38.6 30.2 37.1
 44.  53.6 33.9 19.7 20.7 41.2 62.2 32.4 29.2 30.3 14.3 49.1 21.7 40.
 27.6 23.5 39.6 36.5 20.  51.7 44.9 18.7 45.9 21.  47.6 26.  26.6 35.4
 22.3 29.  39.4 52.  44.1 20.4 32.6 25.2 32.  41.9 36.8 20.1 25.1 47.2
 20.2 16.5 50.3 52.8 47.  37.3 32.7 21.9 22.9 37.6 55.  33.6 37.8 55.2
 33.4 37.7 47.5 20.3 35.9 36.4 50.5 41.6 41.5 51.  45.8 18.1 20.6 34.1
 23.4 24.4 46.  14.1 52.4 42.6 19.3 18.8 41.3 43.7 50.  46.8 14.8 47.4
 56.2 50.2 52.7 42.  45.7 46.7 43.3 45.4 39.3 17.5 34.5 18.4 65.5 47.1
 16.2 40.7 38.3 19.2 41.8 50.8 42.1 45.5 64.8 17.  42.5 54.5 48.4 47.8
 16.1 15.7 15.6 44.3 42.9 17.8 43.1 49.7 50.4 40.8 45.2 55.5 40.3 42.3
 49.3 50.9 15.2 45.  43.9 44.4 46.3 48.9 58.3 61.9 46.2 43.  56.1 16.7
 44.5 40.5 48.2 54.  42.8 17.6 16.9 45.1 63.2 49.8 49.2 53.4 50.1 17.9
 48.6 49.5 18.  41.7 78.  17.2 55.6 59.1 44.6 18.3 47.3 51.8 54.9 56.
 46.5 48.5 64.  46.6 15.4 52.3 56.7 61.1 52.9 59.9 51.1 48.  57.6 46.4
 60.5 51.5 43.6 65.3 49.6 58.2 57.5 54.8 16.4 54.1 18.2 15.9 17.3 51.3
 13.1 14.6 49.9 15.1 51.4 17.4 48.8 16.  55.7]

Smoking_Status
['smokes' 'formerly smoked' 'never smoked']

Stroke
[0 1]

In [137]:
x_train = df_train.drop(["Stroke"], axis=1)   
y_train = df_train["Stroke"]

x_test = df_test.drop(["Stroke"], axis=1)   
y_test = df_test["Stroke"]

print("x_train size:", x_train.shape)
print("y_train size:", y_train.shape)
print("x_test size:", x_test.shape)
print("y_test size:", y_test.shape)

x_train size: (5025, 10)
y_train size: (5025,)
x_test size: (1658, 10)
y_test size: (1658,)

In [138]:
## Encoding categorical Attributes

from sklearn.preprocessing import OneHotEncoder

#Building the one-hot encoder model
encode = OneHotEncoder(handle_unknown='ignore')
encode.fit(x_train)

#Encoding the categorical attributes of training data
x_train = encode.transform(x_train)

#Encoding the categorical attributes of test data
x_test = encode.transform(x_test)

print("x_train :", x_train.shape)

x_train : (5025, 4386)

In [139]:
# Building a standardization model

scaler = sklearn.preprocessing.StandardScaler(with_mean=False)
scaler.fit(x_train)

# scaling the training features
x_train = scaler.transform(x_train)

# Reducing the number of test features
X_test = scaler.transform(x_test)
print("X train:", x_train.shape)

X train: (5025, 4386)

In [140]:
## Balancing the Data
## handling imbalanced classes 

sm = imblearn.over_sampling.SMOTE(random_state=42)

x_train_resampled, y_train_resampled = sm.fit_resample(x_train, y_train)
y_train.value_counts()

print("X train resampled size:", x_train_resampled.shape)
print("Y train resampled size:", y_train_resampled.shape)

X train resampled size: (9852, 4386)
Y train resampled size: (9852,)

In [141]:
##  reducing the dimensionality 

#Building PCA model

pca = sklearn.decomposition.PCA(n_components=150)
pca.fit(x_train_resampled.toarray())

#Reducing the number of training features
x_train_resampled_pca = pca.transform(x_train_resampled.toarray())

#Reducing the number of test features
x_test_pca = pca.transform(x_test.toarray())

print("X train:", x_train_resampled_pca.shape)
print("X Test:", x_test_pca.shape)

X train: (9852, 150)
X Test: (1658, 150)

In [143]:
model_tree = sklearn.tree.DecisionTreeClassifier()
model_svm = sklearn.svm.SVC()
model_Lr = sklearn.linear_model.LogisticRegression()

In [144]:
parameters_svm = {'kernel':('linear', 'rbf'), 'C':[0.1, 1 , 3,5]}
model_svm = sklearn.svm.SVC()
clf_svm = sklearn.model_selection.GridSearchCV(model_svm, parameters_svm, cv=5,n_jobs=-1, scoring="accuracy")
clf_svm.fit(x_train_resampled_pca,y_train_resampled)
print("The Accuracy through SVM model = {}".format(clf_svm.best_score_))
print("best parameter = {}".format(clf_svm.best_params_))

The Accuracy through SVM model = 0.9974623925086341
best parameter = {'C': 1, 'kernel': 'linear'}

In [145]:
parameters_tree = {'criterion' :('gini', 'entropy'), 'min_samples_leaf':[1,2,4],'min_samples_split':[2,4,6],'max_depth': [5,7,10]}
model_tree = sklearn.tree.DecisionTreeClassifier()
clf_tree = sklearn.model_selection.GridSearchCV(model_tree, parameters_tree,cv=5,n_jobs=-1,scoring="accuracy")
clf_tree.fit(x_train_resampled_pca,y_train_resampled)
print("The Accuracy through decision tree model = {}".format(clf_tree.best_score_))
print("best parameter = {}".format(clf_tree.best_params_))

The Accuracy through decision tree model = 0.9972597073813958
best parameter = {'criterion': 'entropy', 'max_depth': 10, 'min_samples_leaf': 1, 'min_samples_split': 2}

In [148]:
parameters_Lr = {'C':[0.1,0.2,0.3,0.4,0.5] , 'multi_class':('auto', 'ovr'),'solver':('lbfgs', 'liblinear', 'newton-cg', 'newton-cholesky', 'sag', 'saga')}
model_Lr = sklearn.linear_model.LogisticRegression(max_iter=5000)
clf_Lr = sklearn.model_selection.GridSearchCV(model_Lr, parameters_Lr,cv=5,n_jobs=-1,scoring="accuracy")
clf_Lr.fit(x_train_resampled_pca,y_train_resampled)
print("The Accuracy through Logistic model = {}".format(clf_Lr.best_score_))
print("best parameter = {}".format(clf_Lr.best_params_))

The Accuracy through Logistic model = 0.9965486869248776
best parameter = {'C': 0.5, 'multi_class': 'auto', 'solver': 'lbfgs'}

In [153]:
y_preds = clf_Lr.predict(x_test_pca)
accuracy = sklearn.metrics.accuracy_score(y_preds, y_test)
print(accuracy)

0.9752714113389626

In [154]:
y_predss = clf_svm.predict(x_test_pca)
accuracys = sklearn.metrics.accuracy_score(y_predss, y_test)
print(accuracys)

0.9752714113389626