<a href="https://colab.research.google.com/github/MahmoodInamdar/Python-projects-MI/blob/main/k_nearest_neighborsHousing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# K-Nearest Neighbors
You should build a machine learning pipeline using a k-nearest neighbor model. In particular, you should do the following:
- Load the `mnist` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a k-nearest neighbor model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

In [19]:
import pandas as pd
import sklearn.model_selection
import sklearn.neighbors
import sklearn.metrics

In [9]:
df = pd.read_csv('housing.csv')  
df = df.set_index('id')
df.head()

,price,area,bedrooms,bathrooms,stories,stories.1,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
id,,,,,,,,,,,,,
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1.0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1.0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0.5
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1.0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1.0

In [11]:
x = df.drop(["price"], axis=1)
y = df["price"]

X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split (x,y)

print("df",df.shape)

df (545, 13)

In [26]:
model = sklearn.neighbors.KNeighborsClassifier(n_neighbors = 3)
model.fit(X_train ,y_train )

KNeighborsClassifier(n_neighbors=3)

In [27]:
y_predicted = model.predict(X_test)
y_predicted

array([3150000, 4130000, 2100000, 3150000, 4760000, 4270000, 3640000,
       2940000, 3675000, 2660000, 3290000, 2961000, 2961000, 5215000,
       5040000, 3360000, 2275000, 4690000, 2660000, 6300000, 6300000,
       2345000, 6930000, 4235000, 4200000, 4060000, 3493000, 2450000,
       4760000, 5145000, 2660000, 3290000, 3493000, 2660000, 1750000,
       6300000, 3080000, 3675000, 3850000, 2800000, 3220000, 2660000,
       3640000, 2380000, 3990000, 4900000, 3087000, 3465000, 8043000,
       2345000, 2135000, 5250000, 2590000, 5033000, 2870000, 1890000,
       2100000, 4690000, 2240000, 1890000, 5600000, 1750000, 3220000,
       2800000, 6125000, 2800000, 5460000, 6300000, 3465000, 3773000,
       2870000, 1820000, 2450000, 3080000, 4200000, 2660000, 3220000,
       2940000, 4270000, 4200000, 3500000, 2730000, 3605000, 3045000,
       2380000, 3220000, 3220000, 2961000, 3220000, 3360000, 5250000,
       5250000, 2940000, 3150000, 3500000, 1960000, 4060000, 2240000,
       2940000, 5250000, 5145000, 3423000, 6930000, 3220000, 2135000,
       3255000, 2660000, 2800000, 6125000, 6300000, 3332000, 4690000,
       6300000, 5775000, 2135000, 5250000, 2240000, 3360000, 2961000,
       1890000, 2870000, 2870000, 3045000, 3150000, 4200000, 3045000,
       4270000, 2590000, 3150000, 4270000, 5600000, 5250000, 3836000,
       6650000, 4690000, 6930000, 2870000])

In [28]:
acc = sklearn.metrics.accuracy_score(y_test,y_predicted)
print(acc)

0.029197080291970802