<a href="https://colab.research.google.com/github/MahmoodInamdar/Python-projects-MI/blob/main/k_nearest_neighborsMahmood.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# K-Nearest Neighbors
You should build a machine learning pipeline using a k-nearest neighbor model. In particular, you should do the following:
- Load the `mnist` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a k-nearest neighbor model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

## Import *libraries*

In [22]:
import pandas as pd
import sklearn.model_selection
import sklearn.neighbors
import sklearn.metrics

## Load Data

In [23]:
df = pd.read_csv("mnist.csv")
df.head()

,id,class,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,31953,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,34452,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,60897,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,36953,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1981,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Splitting the data train and test

In [5]:
x = df.drop(["class" , "id"], axis=1)
y = df["class"]

X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(x,y)

print("df:" , df.shape)
print("X_train:" , X_train.shape)
print("X_test:" , X_test.shape)
print("y_train:" , y_train.shape)
print("y_test:" , y_test.shape)

df: (4000, 786)
X_train: (3000, 784)
X_test: (1000, 784)
y_train: (3000,)
y_test: (1000,)

## Train

In [7]:
model = sklearn.neighbors.KNeighborsClassifier()
model.fit(X_train,y_train)

KNeighborsClassifier()

## Test

In [21]:
y_predicted = model.predict(X_test)
y_predicted

array([2, 7, 1, 1, 1, 8, 0, 5, 3, 8, 8, 6, 7, 6, 6, 7, 8, 0, 3, 5, 4, 4,
       6, 8, 7, 6, 7, 0, 1, 3, 5, 2, 1, 3, 7, 8, 2, 2, 3, 6, 5, 2, 6, 8,
       0, 0, 7, 6, 1, 5, 0, 4, 6, 7, 8, 3, 2, 7, 1, 0, 4, 5, 4, 1, 8, 1,
       3, 3, 1, 9, 5, 1, 3, 8, 3, 4, 5, 5, 5, 8, 0, 2, 0, 8, 2, 7, 5, 0,
       7, 7, 4, 1, 8, 1, 1, 2, 8, 1, 8, 7, 7, 3, 4, 7, 4, 0, 5, 4, 9, 8,
       7, 6, 2, 3, 5, 9, 9, 7, 3, 4, 0, 1, 2, 7, 8, 5, 0, 5, 0, 2, 9, 4,
       1, 7, 3, 2, 3, 2, 1, 5, 6, 6, 1, 5, 9, 1, 3, 7, 1, 9, 2, 1, 1, 8,
       8, 3, 9, 0, 7, 2, 6, 5, 2, 7, 4, 7, 8, 7, 9, 3, 2, 7, 2, 2, 0, 7,
       2, 5, 7, 2, 1, 1, 1, 2, 2, 5, 1, 3, 2, 2, 4, 7, 0, 1, 3, 2, 8, 9,
       5, 3, 6, 0, 7, 6, 3, 1, 3, 3, 8, 1, 7, 4, 4, 5, 5, 9, 0, 8, 1, 2,
       9, 9, 7, 3, 5, 6, 9, 3, 8, 4, 0, 6, 2, 2, 4, 6, 9, 9, 1, 1, 0, 5,
       4, 7, 1, 7, 8, 7, 0, 9, 7, 0, 1, 5, 5, 0, 2, 6, 3, 5, 3, 7, 1, 8,
       0, 0, 1, 7, 8, 3, 1, 2, 3, 9, 9, 1, 0, 6, 5, 2, 1, 8, 5, 7, 1, 3,
       2, 7, 9, 2, 1, 6, 2, 1, 0, 6, 1, 3, 5, 6, 9, 3, 4, 7, 0, 0, 5, 1,
       8, 1, 0, 7, 8, 0, 7, 8, 7, 8, 8, 4, 1, 6, 2, 6, 3, 1, 5, 0, 2, 6,
       6, 1, 2, 0, 3, 4, 5, 7, 8, 0, 2, 1, 8, 9, 1, 3, 9, 9, 1, 5, 6, 1,
       1, 3, 3, 1, 1, 1, 3, 7, 6, 8, 6, 7, 3, 7, 1, 6, 9, 9, 7, 6, 3, 7,
       7, 8, 8, 3, 9, 8, 7, 5, 9, 3, 7, 7, 3, 1, 3, 3, 4, 7, 6, 9, 6, 4,
       7, 5, 7, 3, 0, 9, 9, 7, 7, 7, 7, 0, 6, 3, 8, 1, 5, 1, 1, 7, 6, 4,
       3, 5, 3, 9, 1, 0, 8, 9, 9, 9, 6, 1, 1, 3, 2, 1, 3, 3, 1, 9, 3, 2,
       6, 5, 3, 0, 7, 4, 2, 4, 9, 2, 1, 2, 0, 1, 8, 4, 2, 5, 9, 8, 8, 4,
       6, 1, 4, 6, 6, 0, 3, 4, 1, 7, 6, 7, 4, 7, 2, 0, 4, 0, 2, 9, 1, 8,
       3, 3, 7, 9, 7, 7, 2, 6, 0, 7, 5, 0, 5, 1, 6, 8, 3, 1, 8, 9, 4, 9,
       2, 9, 6, 3, 7, 8, 6, 0, 0, 7, 8, 9, 5, 1, 5, 6, 7, 7, 3, 5, 4, 3,
       9, 6, 5, 2, 5, 4, 0, 4, 8, 1, 7, 9, 8, 5, 3, 2, 9, 3, 3, 4, 8, 6,
       2, 8, 7, 6, 7, 0, 8, 0, 9, 1, 9, 8, 2, 4, 1, 0, 6, 6, 7, 7, 3, 4,
       1, 0, 5, 5, 5, 8, 3, 5, 6, 6, 3, 9, 9, 8, 0, 9, 3, 5, 2, 5, 1, 7,
       1, 2, 5, 2, 3, 7, 1, 8, 8, 9, 0, 0, 3, 5, 4, 0, 8, 5, 7, 7, 8, 8,
       8, 8, 0, 2, 7, 7, 3, 9, 2, 5, 7, 6, 8, 0, 4, 8, 7, 5, 5, 5, 1, 5,
       8, 5, 1, 6, 3, 7, 3, 2, 6, 9, 8, 5, 7, 4, 5, 5, 5, 5, 2, 2, 0, 8,
       0, 4, 4, 8, 8, 0, 5, 1, 7, 3, 2, 9, 8, 1, 7, 6, 3, 5, 5, 2, 9, 8,
       8, 1, 3, 4, 1, 7, 5, 0, 2, 7, 1, 8, 2, 1, 3, 1, 4, 1, 1, 6, 1, 1,
       9, 0, 8, 3, 0, 1, 4, 3, 6, 3, 5, 5, 1, 4, 4, 0, 4, 0, 3, 8, 6, 3,
       9, 7, 3, 3, 7, 4, 9, 4, 7, 4, 8, 5, 5, 1, 9, 1, 6, 7, 5, 6, 6, 4,
       8, 7, 6, 9, 8, 4, 3, 4, 5, 0, 4, 1, 0, 1, 0, 9, 1, 6, 6, 8, 4, 5,
       7, 2, 5, 2, 8, 2, 3, 8, 6, 7, 3, 4, 7, 7, 3, 6, 5, 3, 5, 0, 1, 9,
       0, 7, 7, 3, 9, 5, 0, 3, 0, 9, 1, 0, 0, 1, 4, 6, 6, 8, 3, 7, 3, 7,
       7, 7, 1, 5, 1, 9, 1, 9, 0, 3, 6, 4, 2, 5, 8, 0, 0, 0, 1, 6, 9, 6,
       6, 9, 9, 1, 6, 7, 4, 1, 8, 1, 1, 0, 9, 9, 4, 2, 2, 7, 8, 1, 0, 9,
       0, 1, 1, 5, 7, 6, 2, 1, 6, 9, 4, 4, 1, 0, 8, 4, 5, 7, 1, 2, 4, 8,
       0, 4, 2, 8, 0, 0, 1, 1, 0, 1, 0, 3, 7, 1, 2, 6, 7, 7, 0, 0, 2, 2,
       1, 4, 3, 7, 4, 3, 1, 3, 9, 6, 6, 7, 9, 0, 9, 4, 6, 9, 6, 5, 1, 4,
       7, 1, 2, 1, 8, 6, 4, 5, 6, 9, 1, 1, 0, 5, 3, 1, 3, 5, 1, 5, 0, 9,
       3, 1, 1, 1, 0, 2, 3, 0, 8, 0, 9, 9, 1, 5, 2, 5, 6, 7, 4, 3, 5, 3,
       7, 0, 1, 3, 7, 9, 7, 0, 8, 6, 1, 1, 2, 3, 4, 7, 4, 4, 7, 8, 1, 1,
       3, 8, 3, 1, 0, 9, 7, 8, 9, 6])

## accuracy

In [13]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predicted)

0.935