<a href="https://colab.research.google.com/github/MahmoodInamdar/Python-projects-MI/blob/main/k_nearest_neighborsHousing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# K-Nearest Neighbors
You should build a machine learning pipeline using a k-nearest neighbor model. In particular, you should do the following:
- Load the `mnist` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a k-nearest neighbor model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

In [6]:
import pandas as pd
import sklearn.model_selection
import sklearn.neighbors
import sklearn.metrics

In [7]:
df = pd.read_csv('housing.csv')  
df = df.set_index('id')
df.head()

,price,area,bedrooms,bathrooms,stories,stories.1,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
id,,,,,,,,,,,,,
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1.0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1.0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0.5
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1.0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1.0

In [8]:
x = df.drop(["price"], axis=1)
y = df["price"]

X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split (x,y)

print("df",df.shape)

df (545, 13)

In [9]:
model = sklearn.neighbors.KNeighborsRegressor()
model.fit(X_train ,y_train )

KNeighborsRegressor()

In [10]:
y_predicted = model.predict(X_test)
y_predicted

array([9261000., 4056500., 3692500., 4331600., 4081000., 4114600.,
       3423700., 5185600., 5511800., 4114600., 6881000., 4319000.,
       7098000., 4378500., 4081000., 3535000., 3507000., 7168000.,
       4494000., 4191600., 3171000., 4326000., 3689000., 3278800.,
       5726000., 5641300., 5584600., 4326000., 4494000., 3745000.,
       3171000., 3820600., 4247600., 3423700., 5616800., 6190800.,
       7168000., 4977000., 4015200., 6073200., 4289600., 7518000.,
       4572400., 3423700., 6629000., 3612000., 3461500., 5185600.,
       3416000., 3486000., 4214000., 4172000., 3278800., 3948000.,
       5733000., 3288600., 3220000., 4354000., 5563600., 3941000.,
       4327400., 4944800., 3822000., 2982000., 6060600., 4545100.,
       6314000., 4240600., 5824000., 6024200., 5185600., 3752000.,
       5929000., 6678000., 5759600., 3122000., 3540600., 6073200.,
       7168000., 3806600., 5649000., 5185600., 4326000., 3647000.,
       5952800., 5538400., 3423700., 3367000., 3822000., 3948000.,
       6118000., 4751600., 2868600., 3647000., 6881000., 6172600.,
       3752000., 3543400., 3827600., 3987200., 5538400., 5733000.,
       6199788., 2657200., 4392500., 4287500., 3430000., 5185600.,
       7313600., 3955000., 3976000., 3246600., 3274600., 5565000.,
       5021800., 5737200., 3962000., 3889200., 4690000., 5509000.,
       4151000., 5185600., 3633000., 3745000., 6041000., 6060600.,
       7168000., 4844000., 3220000., 6881000., 5934600., 6199788.,
       5021800., 4410000., 7028000., 3283000., 4319000.])

In [12]:
mse = sklearn.metrics.mean_squared_error(y_test,y_predicted)
print(mse)

1894510832495.533