<a href="https://colab.research.google.com/github/MahmoodInamdar/Python-projects-MI/blob/main/logistic_regression_Mahmood.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Logistic Regression
You should build a machine learning pipeline using a logistic regression model. In particular, you should do the following:
- Load the `mnist` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a logistic regression model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

## Import libraries

In [14]:
import pandas as pd
import sklearn.model_selection
import sklearn.linear_model
import sklearn.metrics

## load data

In [4]:
df = pd.read_csv('mnist.csv')
df.head()

,id,class,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,31953,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,34452,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,60897,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,36953,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1981,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Split the dataset into training and test sets

In [6]:
x = df.drop(["class","id"], axis=1)
y = df["class"]

x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x,y)
print("df:" , df.shape)
print("x_train:" , x_train.shape)
print("x_test:" , x_test.shape)
print("y_train:" , y_train.shape)
print("y_test:" , y_test.shape)

df: (4000, 786)
x_train: (3000, 784)
x_test: (1000, 784)
y_train: (3000,)
y_test: (1000,)

## Train the data

In [9]:
model = sklearn.linear_model.LogisticRegression(max_iter = 10000)
model.fit(x_train , y_train)

LogisticRegression(max_iter=10000)

## test the data

In [17]:
y_predicted = model.predict(x_test)
y_predicted

array([5, 6, 0, 9, 8, 6, 1, 3, 0, 0, 5, 3, 2, 8, 5, 1, 2, 3, 4, 7, 5, 2,
       5, 7, 2, 2, 2, 4, 6, 3, 6, 9, 1, 3, 5, 8, 6, 2, 6, 5, 4, 4, 4, 3,
       4, 4, 8, 0, 1, 1, 1, 4, 9, 5, 3, 9, 8, 9, 9, 1, 2, 8, 4, 2, 7, 6,
       0, 8, 9, 6, 7, 4, 1, 9, 3, 7, 4, 1, 5, 4, 7, 5, 1, 8, 6, 4, 6, 4,
       6, 6, 0, 7, 7, 7, 4, 1, 2, 9, 6, 8, 3, 1, 1, 1, 4, 3, 9, 1, 5, 1,
       8, 7, 2, 0, 0, 2, 7, 0, 5, 0, 6, 1, 1, 8, 9, 6, 7, 3, 5, 5, 9, 6,
       8, 7, 3, 8, 3, 9, 2, 1, 2, 7, 1, 3, 2, 4, 6, 8, 8, 5, 1, 2, 4, 8,
       9, 5, 1, 9, 5, 4, 1, 8, 9, 9, 0, 3, 2, 0, 4, 0, 8, 0, 2, 4, 7, 2,
       6, 4, 4, 5, 0, 9, 5, 1, 2, 5, 1, 7, 5, 6, 6, 1, 0, 7, 4, 1, 4, 6,
       4, 5, 1, 2, 0, 2, 1, 7, 7, 6, 1, 8, 1, 1, 2, 4, 1, 6, 7, 6, 2, 8,
       2, 4, 9, 8, 7, 5, 3, 4, 1, 3, 6, 7, 4, 0, 0, 3, 3, 6, 3, 5, 1, 1,
       6, 3, 6, 7, 1, 0, 0, 9, 8, 1, 1, 9, 3, 0, 3, 7, 1, 8, 7, 5, 1, 7,
       7, 6, 4, 0, 4, 0, 2, 8, 1, 4, 7, 6, 3, 2, 0, 1, 0, 1, 8, 4, 6, 6,
       7, 2, 7, 4, 7, 1, 4, 3, 7, 4, 4, 6, 2, 7, 5, 9, 6, 9, 0, 7, 5, 2,
       7, 9, 7, 2, 5, 3, 3, 5, 9, 7, 9, 6, 7, 0, 0, 3, 6, 0, 2, 7, 4, 1,
       6, 4, 2, 4, 2, 0, 8, 5, 7, 6, 0, 6, 4, 4, 1, 8, 3, 0, 6, 9, 9, 9,
       1, 8, 1, 1, 6, 2, 1, 0, 6, 7, 5, 0, 0, 3, 6, 5, 0, 9, 2, 0, 7, 9,
       6, 6, 2, 8, 3, 0, 7, 1, 5, 5, 8, 0, 4, 7, 6, 3, 8, 8, 0, 5, 5, 4,
       3, 0, 4, 4, 8, 6, 5, 1, 5, 6, 7, 9, 0, 5, 3, 1, 8, 0, 4, 7, 5, 2,
       9, 1, 1, 1, 8, 2, 6, 8, 1, 3, 6, 1, 9, 1, 8, 2, 8, 9, 4, 8, 7, 3,
       8, 1, 8, 4, 3, 1, 7, 3, 2, 3, 3, 8, 5, 6, 2, 5, 0, 9, 7, 6, 8, 9,
       1, 1, 7, 8, 1, 8, 1, 6, 8, 3, 7, 7, 2, 2, 9, 0, 6, 9, 7, 6, 1, 9,
       7, 9, 2, 7, 2, 4, 6, 7, 1, 5, 9, 2, 0, 1, 9, 9, 7, 8, 9, 0, 0, 7,
       0, 8, 7, 0, 5, 8, 5, 4, 2, 5, 3, 2, 6, 4, 9, 0, 6, 4, 8, 2, 7, 7,
       2, 0, 8, 2, 9, 6, 8, 6, 3, 3, 7, 3, 3, 6, 9, 0, 1, 0, 1, 0, 1, 1,
       6, 9, 1, 0, 7, 1, 5, 3, 4, 2, 9, 0, 7, 2, 0, 7, 2, 6, 7, 8, 5, 8,
       3, 1, 3, 2, 1, 8, 3, 2, 6, 0, 9, 1, 9, 9, 1, 3, 2, 3, 8, 0, 1, 3,
       6, 6, 2, 6, 2, 3, 0, 7, 5, 2, 4, 8, 9, 8, 9, 0, 5, 6, 9, 3, 1, 9,
       3, 2, 6, 9, 6, 5, 4, 5, 4, 8, 2, 1, 3, 5, 6, 4, 6, 4, 0, 0, 1, 2,
       1, 6, 1, 3, 1, 5, 3, 5, 3, 3, 2, 7, 6, 3, 3, 8, 5, 9, 3, 6, 2, 9,
       4, 5, 5, 8, 2, 3, 6, 2, 7, 1, 7, 2, 0, 2, 3, 0, 2, 7, 7, 5, 2, 8,
       8, 9, 5, 6, 3, 3, 4, 0, 3, 1, 0, 5, 4, 1, 1, 1, 8, 2, 1, 6, 2, 7,
       7, 1, 2, 5, 9, 1, 7, 6, 6, 0, 9, 5, 1, 6, 7, 3, 8, 9, 3, 3, 4, 2,
       8, 7, 8, 1, 9, 3, 5, 1, 9, 4, 8, 1, 6, 3, 5, 7, 0, 9, 5, 2, 1, 1,
       1, 1, 9, 4, 9, 7, 3, 3, 9, 3, 3, 1, 6, 8, 5, 6, 2, 8, 8, 3, 9, 4,
       6, 3, 5, 2, 1, 6, 2, 7, 9, 5, 1, 6, 0, 5, 4, 0, 5, 3, 4, 5, 3, 9,
       5, 3, 5, 8, 5, 1, 2, 5, 1, 1, 4, 3, 6, 4, 6, 2, 4, 0, 8, 2, 9, 3,
       3, 2, 3, 9, 6, 5, 0, 9, 8, 6, 9, 2, 3, 2, 1, 4, 8, 8, 2, 1, 6, 4,
       8, 0, 4, 0, 8, 7, 7, 2, 8, 1, 5, 2, 3, 6, 5, 5, 7, 8, 7, 4, 5, 1,
       5, 1, 8, 8, 2, 3, 9, 5, 1, 0, 9, 8, 1, 2, 1, 5, 2, 7, 1, 6, 6, 2,
       6, 6, 8, 3, 3, 8, 0, 2, 9, 4, 2, 8, 9, 3, 8, 0, 8, 9, 4, 4, 5, 3,
       3, 0, 8, 3, 8, 1, 7, 7, 7, 6, 3, 4, 7, 2, 9, 7, 3, 5, 6, 3, 2, 8,
       4, 2, 8, 9, 8, 0, 9, 1, 2, 4, 1, 7, 3, 3, 7, 9, 7, 5, 3, 8, 6, 7,
       2, 2, 7, 8, 4, 0, 7, 0, 2, 7, 3, 1, 7, 4, 3, 1, 1, 3, 4, 2, 7, 6,
       0, 8, 1, 4, 9, 7, 0, 9, 4, 0, 2, 1, 6, 7, 6, 8, 1, 7, 3, 1, 3, 5,
       6, 8, 4, 4, 6, 4, 6, 4, 2, 7])

## Accuracy Test

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predicted)

0.867