<a href="https://colab.research.google.com/github/MahmoodInamdar/Python-projects-MI/blob/main/naive_bayes_mahmood.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Naive Bayes
You should build a machine learning pipeline using a naive bayes model. In particular, you should do the following:
- Load the `mnist` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a naive bayes model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.GaussianNB.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

## library

In [19]:
import pandas as pd
import sklearn.model_selection
import sklearn.naive_bayes

##load data

In [17]:
df = pd.read_csv("mnist.csv")
df = df.set_index("id")
df.head()

,class,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
id,,,,,,,,,,,,,,,,,,,,,
31953,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34452,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60897,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1981,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## split

In [18]:
x = df.drop(["class"], axis=1)
y = df["class"]

X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(x,y)

print("df:" , df.shape)
print("X_train:" , X_train.shape)
print("X_test:" , X_test.shape)
print("y_train:" , y_train.shape)
print("y_test:" , y_test.shape)

df: (4000, 785)
X_train: (3000, 784)
X_test: (1000, 784)
y_train: (3000,)
y_test: (1000,)

## train

In [21]:
model = sklearn.naive_bayes.GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

## test

In [22]:
y_predicted = model.predict(X_test)
y_predicted

array([0, 0, 6, 6, 6, 8, 9, 6, 8, 9, 8, 3, 6, 1, 1, 1, 0, 9, 7, 3, 0, 1,
       1, 7, 9, 8, 6, 6, 9, 1, 0, 1, 9, 9, 3, 0, 6, 0, 9, 2, 9, 7, 7, 9,
       2, 9, 9, 6, 8, 6, 2, 9, 9, 6, 8, 8, 1, 1, 5, 3, 8, 6, 6, 7, 1, 0,
       1, 7, 6, 9, 1, 9, 9, 1, 8, 3, 8, 9, 6, 6, 1, 9, 4, 8, 4, 1, 1, 0,
       0, 6, 8, 8, 9, 9, 6, 0, 9, 1, 1, 5, 1, 0, 4, 9, 7, 8, 4, 0, 9, 4,
       8, 8, 9, 6, 7, 1, 4, 2, 1, 1, 0, 0, 6, 8, 3, 0, 6, 0, 0, 1, 0, 8,
       9, 9, 8, 0, 6, 9, 6, 4, 3, 8, 0, 4, 7, 1, 1, 3, 0, 0, 1, 1, 3, 0,
       2, 1, 1, 6, 3, 9, 6, 6, 9, 1, 9, 6, 6, 1, 1, 8, 9, 9, 1, 9, 1, 8,
       7, 6, 1, 9, 1, 0, 0, 1, 6, 0, 8, 1, 1, 6, 1, 1, 1, 8, 8, 4, 2, 5,
       4, 6, 8, 6, 0, 8, 0, 4, 0, 4, 7, 9, 8, 8, 0, 8, 8, 1, 7, 1, 8, 7,
       6, 8, 1, 9, 9, 6, 3, 1, 2, 1, 1, 6, 6, 0, 9, 9, 7, 8, 9, 8, 9, 7,
       9, 1, 2, 0, 6, 6, 9, 0, 1, 9, 9, 0, 9, 1, 0, 8, 1, 3, 1, 3, 6, 9,
       7, 0, 0, 9, 8, 8, 7, 3, 6, 3, 9, 9, 0, 1, 5, 5, 6, 8, 6, 1, 6, 6,
       4, 9, 7, 1, 8, 9, 0, 8, 8, 8, 6, 9, 1, 9, 4, 3, 9, 1, 4, 0, 1, 9,
       9, 1, 0, 8, 1, 4, 9, 1, 9, 6, 0, 1, 4, 0, 7, 0, 9, 1, 9, 3, 1, 8,
       1, 9, 8, 3, 0, 9, 0, 9, 3, 6, 1, 1, 7, 3, 9, 1, 7, 7, 1, 5, 4, 1,
       0, 2, 6, 9, 9, 1, 9, 2, 6, 8, 4, 0, 1, 6, 6, 2, 0, 6, 8, 9, 1, 2,
       8, 0, 1, 4, 0, 0, 9, 0, 1, 3, 7, 9, 2, 8, 1, 3, 0, 6, 1, 5, 8, 1,
       2, 1, 0, 9, 4, 7, 6, 0, 8, 3, 7, 9, 1, 7, 2, 6, 3, 9, 6, 1, 1, 1,
       1, 0, 1, 9, 6, 1, 8, 6, 0, 0, 6, 8, 1, 1, 0, 8, 8, 1, 3, 7, 9, 3,
       6, 1, 0, 0, 0, 6, 9, 1, 1, 9, 0, 4, 0, 0, 0, 9, 9, 7, 2, 8, 0, 9,
       1, 8, 1, 0, 3, 6, 0, 9, 0, 9, 8, 9, 1, 6, 8, 0, 6, 1, 9, 8, 6, 9,
       0, 1, 6, 8, 8, 0, 1, 9, 9, 0, 0, 9, 1, 1, 9, 0, 8, 9, 1, 8, 0, 6,
       1, 0, 9, 2, 9, 4, 9, 3, 6, 8, 3, 7, 6, 0, 1, 9, 9, 9, 9, 6, 5, 0,
       2, 1, 9, 6, 9, 7, 7, 1, 9, 6, 4, 0, 9, 8, 8, 6, 0, 8, 8, 1, 0, 9,
       0, 0, 6, 4, 6, 4, 0, 8, 9, 9, 4, 8, 1, 9, 1, 0, 9, 4, 1, 9, 8, 2,
       9, 0, 0, 9, 9, 7, 6, 1, 3, 0, 0, 6, 9, 1, 7, 6, 9, 8, 7, 6, 6, 7,
       6, 1, 9, 8, 6, 6, 0, 6, 6, 1, 7, 8, 1, 1, 8, 8, 4, 5, 9, 1, 3, 1,
       1, 8, 6, 6, 9, 6, 2, 1, 4, 8, 7, 1, 8, 1, 7, 0, 6, 2, 8, 8, 9, 9,
       1, 2, 2, 2, 1, 6, 6, 9, 9, 0, 6, 9, 0, 6, 7, 9, 7, 3, 0, 2, 4, 9,
       8, 1, 8, 0, 9, 6, 2, 6, 1, 1, 9, 6, 6, 9, 9, 4, 9, 1, 8, 1, 8, 0,
       4, 0, 6, 5, 9, 6, 0, 1, 1, 6, 6, 0, 0, 5, 8, 5, 4, 3, 1, 1, 8, 1,
       3, 9, 1, 1, 2, 0, 5, 9, 4, 9, 4, 8, 1, 6, 8, 4, 6, 3, 0, 1, 6, 1,
       9, 3, 1, 9, 9, 9, 1, 6, 1, 1, 9, 7, 8, 9, 4, 1, 8, 1, 7, 6, 6, 7,
       0, 6, 8, 9, 5, 1, 0, 9, 0, 6, 1, 1, 6, 1, 0, 4, 2, 9, 6, 1, 9, 1,
       9, 1, 1, 8, 0, 9, 6, 9, 1, 1, 2, 4, 8, 0, 2, 1, 6, 8, 0, 1, 6, 0,
       4, 2, 9, 8, 7, 5, 9, 2, 0, 3, 9, 1, 9, 6, 9, 1, 6, 9, 8, 0, 6, 0,
       1, 3, 9, 1, 1, 8, 1, 9, 6, 8, 9, 8, 8, 0, 8, 8, 9, 2, 9, 9, 6, 2,
       6, 6, 6, 1, 8, 6, 6, 9, 2, 0, 0, 6, 9, 6, 0, 1, 9, 1, 6, 0, 6, 5,
       3, 0, 0, 9, 4, 8, 6, 9, 8, 6, 9, 9, 1, 9, 9, 9, 1, 4, 1, 9, 9, 4,
       1, 8, 6, 6, 7, 3, 0, 0, 1, 9, 4, 0, 9, 0, 8, 9, 6, 7, 1, 9, 1, 6,
       9, 0, 9, 1, 8, 4, 9, 5, 4, 9, 8, 4, 9, 6, 1, 6, 8, 1, 0, 0, 0, 6,
       9, 8, 1, 1, 0, 0, 8, 9, 2, 7, 3, 4, 1, 6, 7, 0, 1, 9, 9, 6, 9, 6,
       1, 1, 6, 1, 0, 9, 4, 0, 1, 6, 0, 7, 9, 9, 9, 3, 4, 1, 0, 6, 0, 0,
       3, 9, 9, 9, 8, 0, 0, 9, 8, 8, 6, 8, 4, 1, 2, 6, 5, 6, 4, 8, 8, 2,
       0, 0, 9, 6, 0, 9, 1, 4, 2, 0])

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predicted)

0.591