<a href="https://colab.research.google.com/github/MahmoodInamdar/Python-projects-MI/blob/main/Tuples_%2C_lists_%2C_Sets_%2C_Dictionary_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"Mahmood".lower()

'mahmood'

In [2]:
"mahmood".upper()

'MAHMOOD'

In [3]:
s = "Today the weather is raining"
s.split("a")

['Tod', 'y the we', 'ther is r', 'ining']

In [4]:
s.count("i")

3

In [5]:
s.find("the")

6

In [6]:
s.replace("i","t")

'Today the weather ts ratntng'

In [7]:
s[0] , s[6]

('T', 't')

In [8]:
name = "Mahmood"
print(f"My name is {name}")

My name is Mahmood

In [9]:
s.split(" ")[0] = "Hi"

In [10]:
name = False
print (name is not None)

True

In [11]:
name = False
print (name is  None)

False

## collection type IMP
 Tuples , 
 lists** , 
 Sets , 
 Dictionary**.

**##Tuples**

In [12]:
best3 = ("mahmood", "Ahmed","Mitesh")
print(best3)

('mahmood', 'Ahmed', 'Mitesh')

In [13]:
best4 = ("mahmood", "Ahmed","Mitesh",("1","3","5"))
print (best4)

('mahmood', 'Ahmed', 'Mitesh', ('1', '3', '5'))

 ## 2 is the index ( index 0 is mahmood)

In [14]:
best3[2]

'Mitesh'

## will change index 1 to alice
 ## will replace it to 2 index

In [15]:
best_students = ["mahmood", "Ahmed","Mitesh"]
best_students[1] = "Alice"     
best3 = tuple(best_students[:3]) 
print(best3)

('mahmood', 'Alice', 'Mitesh')

In [16]:
print(len(best3))

3

 ## will find the index of mitesh

In [17]:
best3.index("Mitesh")

2

## tuple to list

In [18]:
best3_list = list(best3)

In [24]:
best_students = ["mahmood", "Ahmed","Mitesh"]
best_students.append("Alice")

In [25]:
other_students = ["om" , "sai"]

In [28]:
best_students.extend(other_students)
print(best_students)

['mahmood', 'Ahmed', 'Mitesh', 'Alice', 'om', 'om', 'sai']

In [27]:
best_students.pop(-1)

'sai'

In [35]:
best_students.remove("sai")

In [36]:
print(best_students)

['mahmood', 'Ahmed', 'Mitesh', 'om']

In [38]:
best_students.sort()
print(best_students)

['Ahmed', 'Mitesh', 'mahmood', 'om']

In [41]:
testList = ["abc","bbb","AAA","aaa"]
testList.sort()
print (testList)

['AAA', 'aaa', 'abc', 'bbb']

In [43]:
testList.reverse()
print(testList.reverse())

None

## Sets

In [79]:
s1 = {1,2,3,5,6,7,4}

In [80]:
print(8 not in s1)

True

In [81]:
s1.update([8,10])

In [82]:
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [83]:
s1.remove(8)

In [84]:
print(s1)

{1, 2, 3, 4, 5, 6, 7, 10}

In [85]:
s2={11,12,13}

In [86]:
print(s1.union(s2))
print(s2.union(s1))

{1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13}
{1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13}

In [87]:
print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13}

In [97]:
s1 = {1,2,3,5,6,7,4}
s2 = {1,11,12,13}

print(s1.intersection(s2))
print(s1 & s2)

{1}
{1}

In [96]:
print(s1.difference(s2))
print(s1 - s2)

{2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6, 7}

In [101]:
print(s1.symmetric_difference(s2))
print(s2.symmetric_difference(s1))
print(s1^s2)
print(s2^s1)

{2, 3, 4, 5, 6, 7, 11, 12, 13}
{2, 3, 4, 5, 6, 7, 11, 12, 13}
{2, 3, 4, 5, 6, 7, 11, 12, 13}
{2, 3, 4, 5, 6, 7, 11, 12, 13}

In [104]:
print((s1-s2)|(s2-s1))
print((s1-s2) & (s2-s1))

{2, 3, 4, 5, 6, 7, 11, 12, 13}
set()

## dictionary

In [121]:
capital = {"germany": "berlin","India" : "Delhi"}
print(capital["germany"])
capital["India"] = "New delhi"
print(capital["India"])

berlin
New delhi

In [122]:
capital["Italy"] = "Rome"

In [123]:
print(capital["Italy"])

Rome

In [124]:
print(capital.pop("Italy"))
print(capital)

Rome
{'germany': 'berlin', 'India': 'New delhi'}

In [126]:
print (capital.keys())
print (capital.values())
print (capital.items())

dict_keys(['germany', 'India'])
dict_values(['berlin', 'New delhi'])
dict_items([('germany', 'berlin'), ('India', 'New delhi')])

In [127]:
list_capital = [("germany","berlin"), ("India","New delhi")]

In [130]:
capital["Europe"]= "Brussels"
capital["Belgium"]= "Brussels"
print(capital)

{'germany': 'berlin', 'India': 'New delhi', 'Europe': 'Brussels', 'Belgium': 'Brussels'}