<a href="https://colab.research.google.com/github/MahmoodInamdar/Python-projects-MI/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import sklearn.model_selection
import numpy as np
import sklearn.svm
import sklearn.metrics
import sklearn.preprocessing
import imblearn.over_sampling
import sklearn.decomposition
import sklearn.linear_model

In [4]:
df = pd.read_csv("Stroke.csv")
df = df.sample(10000)
df = df.drop(['ID'], axis=1)

df.head(10)

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,BMI,Smoking_Status,Stroke
1554,Male,4.00,0,0,No,children,Urban,97.51,22.0,NaN,0
5460,Male,0.24,0,0,No,children,Rural,65.76,15.6,NaN,0
15451,Female,61.00,0,0,Yes,Private,Urban,146.47,31.6,never smoked,0
6497,Female,32.00,0,0,No,Private,Rural,65.60,26.5,NaN,0
18024,Female,27.00,0,0,No,Self-employed,Rural,69.61,24.9,formerly smoked,0
40445,Female,66.00,0,0,Yes,Govt_job,Urban,199.83,38.0,never smoked,0
27933,Female,34.00,0,0,Yes,Private,Urban,83.01,25.1,never smoked,0
33796,Female,30.00,0,0,Yes,Self-employed,Rural,94.14,23.1,never smoked,0
3003,Female,66.00,0,0,Yes,Private,Urban,80.10,32.0,never smoked,0
25330,Male,60.00,0,0,Yes,Private,Rural,76.26,35.4,smokes,0

In [5]:
df.Age = df.Age.astype(int)

In [6]:
df.head()

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,BMI,Smoking_Status,Stroke
1554,Male,4,0,0,No,children,Urban,97.51,22.0,NaN,0
5460,Male,0,0,0,No,children,Rural,65.76,15.6,NaN,0
15451,Female,61,0,0,Yes,Private,Urban,146.47,31.6,never smoked,0
6497,Female,32,0,0,No,Private,Rural,65.60,26.5,NaN,0
18024,Female,27,0,0,No,Self-employed,Rural,69.61,24.9,formerly smoked,0

In [7]:
df_train, df_test = sklearn.model_selection.train_test_split(df)

print("df_train size:" , df_train.shape)
print("df_test size:" , df_test.shape)

df_train size: (18750, 11)
df_test size: (6250, 11)

In [8]:
for i in df_train.columns:
  print(i)
  print(df_train[i].unique(),"\n")

Gender
['Female' 'Male' 'Other']

Age
[15 41 65  4 34 14 64 29 35 37 69 19 30 55 73  5  1 24 57 75 51 50 23 25
 13 72  9 82 81 31 40  0 36 32 28 54 78 79 46 76 63 33 52 10 68 71 77 26
 42 45 80  8  2 49 59 60  3 66 17 11 39 27 62 53 38 43 48 61 20  7 18 67
 47 16 22 56 70 58  6 44 12 21 74]

Hypertension
[0 1]

Heart_Disease
[0 1]

Ever_Married
['No' 'Yes']

Work_Type
['children' 'Private' 'Self-employed' 'Govt_job' 'Never_worked']

Residence_Type
['Urban' 'Rural']

Avg_Glucose_Level
[ 71.2   98.03  77.19 ...  69.84 124.82 222.46]

BMI
[18.2 25.3 35.2 38.1 31.5 22.5 32.  31.4 27.1 37.1 39.4 30.1 36.5 20.7
 28.9 23.9 30.6 25.4 20.3 27.8 26.4 15.2 26.6 26.1 27.4  nan 21.6 40.7
 13.6 24.4 22.6 23.  23.3 28.3 26.7 29.4 20.1 24.5 28.2 35.  22.4 29.8
 30.3 42.9 24.9 21.9 30.2 31.9 25.6 39.9 47.7 32.7 19.8 25.7 43.8 38.
 18.4 20.2 25.8 24.1 30.8 29.9 38.2 25.  19.7 13.3 23.8 28.  15.8 13.7
 29.6 33.6 23.7 23.1 27.2 31.7 18.8 39.6 29.  29.5 29.3 47.3 31.  30.9
 25.2 20.4 18.  22.2 32.6 24.3 17.1 27.9 33.8 28.6 22.  30.5 26.2 40.8
 26.5 41.5 36.9 42.  24.6 49.  28.8 35.1 24.7 25.9 37.7 26.  37.4 51.2
 32.5 23.6 33.9 22.1 21.  36.6 21.5 22.3 39.  32.8 20.8 24.  16.6 55.7
 22.8 34.2 37.  41.7 30.7 21.2 49.9 35.4 23.2 37.8 24.2 22.9 34.5 32.9
 12.8 26.8 50.1 33.3 32.3 41.  36.8 18.1 40.9 44.4 21.1 27.7 30.  35.7
 18.3 34.3 45.5 17.3 24.8 58.  36.2 33.1 38.7 32.4 42.4 27.6 19.1 28.5
 16.7 33.7 25.5 37.6 35.8 19.2 26.3 28.4 21.3 21.8 38.8 16.8 14.7 52.6
 33.  16.9 15.5 45.3 28.7 15.4 42.8 34.  19.5 52.2 40.4 25.1 18.7 21.4
 34.7 17.7 20.  49.3 42.3 13.2 28.1 22.7 39.7 29.2 32.2 14.3 31.6 29.1
 47.  20.9 47.6 31.8 23.5 31.3 34.8 27.3 16.2 40.  41.4 18.6 31.1 42.5
 42.7 36.  36.4 36.7 50.  45.  43.2 37.9 44.2 30.4 40.3 51.8 17.5 17.8
 17.9 34.4 29.7 41.8 27.5 40.1 43.3 14.4 41.3 14.5 16.4 15.6 41.9 27.
 17.  41.1 16.  15.1 31.2 23.4 19.  37.3 40.5 35.6 39.3 43.6 65.7 20.6
 47.2 19.6 15.7 26.9 53.4 18.9 34.9 38.3 32.1 42.6 33.4 19.3 38.5 35.5
 52.9 52.8 34.1 46.1 42.2 49.4 21.7 51.7 10.8 18.5 43.5 36.3 13.5 19.9
 41.2 41.6 36.1 54.5 17.4 17.2 14.2 35.9 19.4 33.2 34.6 46.4 39.5 16.1
 37.5 48.8 35.3 42.1 17.6 55.  20.5 40.2 61.9 39.2 61.3 38.6 14.8 44.6
 45.1 44.1 53.6 14.6 61.8 43.9 43.7 16.3 15.3 48.3 64.2 47.1 16.5 33.5
 38.9 61.6 37.2 43.1 46.9 59.9 44.7 39.1 49.8 45.9 53.2 45.2 52.4 13.8
 55.3 44.  46.6 44.8 13.1 50.2 38.4 53.3 40.6 51.  13.  59.6 47.4 49.6
 58.2 51.6 45.8 50.3 57.5 44.5 39.8 14.1 11.9 15.9 43.  50.7 52.  14.9
 53.9 50.5 46.3 11.  46.5 51.3 55.4 45.7 45.6 48.5 48.4 54.3 69.4 55.6
 48.  53.  46.7 51.9 60.2 44.9 58.7 65.5 54.  48.9 46.8 49.2 50.6 52.5
 60.1 71.5 52.3 11.4 44.3 49.1 50.8 54.7 62.9 15.  60.5 47.9 56.6 12.6
 13.4 45.4 46.2 48.1 43.4 88.6 46.  55.2 12.1 48.7 47.8 59.2 89.  56.4
 57.6 14.  12.9 55.5 50.9 58.3 59.7 53.1 54.1 12.7 47.5 49.5 54.8 57.1
 60.9 11.6 13.9 55.9 50.4 52.7 12.  58.1 64.9 54.4 51.1 58.4 56.3 53.8
 56.2 57.  12.5 11.7 10.6 66.3 69.8 59.  63.8 65.9 10.5 49.7 61.1 52.1
 63.2 70.6 10.1 53.5 57.2 48.6 48.2 56.5 10.3 12.4 51.5 68.5 68.6 60.6
 54.9 58.6 62.2 12.3 61.2 51.4 59.1 56.1 70.3 78.  55.8 11.3 57.4]

Smoking_Status
[nan 'never smoked' 'formerly smoked' 'smokes']

Stroke
[0 1]

In [9]:
for i in df_test.columns:
  print(i)
  print(df_test[i].unique(),"\n")

Gender
['Male' 'Female' 'Other']

Age
[42 24 54 61 43 64 56 21 16 30 53 57 39 67  2  3 68 37 63 80 44 20 73 62
 12 19 15 14 70 58 59 40 71 78 35 50 51 32 10 11  4 45 34 38 75 26 66  0
 33 17 47 48 79  5 23  9 25 49 72 46 65 82 13  1 60 55 18 22 74 36 41 31
 76 28  7 77 29 81 27  6  8 52 69]

Hypertension
[0 1]

Heart_Disease
[0 1]

Ever_Married
['Yes' 'No']

Work_Type
['Private' 'Govt_job' 'Self-employed' 'children' 'Never_worked']

Residence_Type
['Urban' 'Rural']

Avg_Glucose_Level
[ 75.46 123.65  84.34 ... 185.11  97.    85.4 ]

BMI
[32.5 22.  34.7 42.6 30.4 38.1 22.1 31.6 20.3 59.7 44.  25.7 29.2 38.6
 23.6 25.8 18.1 20.5 27.9 33.  37.  27.4 21.5 43.9 24.  28.2 25.6 21.9
 32.8 22.9 34.  25.5 35.   nan 39.1 27.8 34.2 32.7 29.  23.2 26.4 26.7
 23.  31.9 41.4 41.9 32.2 45.7 26.3 19.1 16.4 16.3 20.2 17.1 29.4 52.8
 48.2 29.7 28.5 25.2 21.  24.9 37.9 29.1 19.4 25.3 23.4 26.5 30.8 22.3
 19.2 28.7 35.3 35.2 37.2 25.9 29.8 22.5 27.6 30.7 28.6 18.7 25.4 25.1
 40.4 24.5 16.8 18.5 27.  23.8 44.3 32.1 30.5 36.7 24.6 33.5 18.  32.
 22.6 34.9 26.8 33.7 27.7 30.2 28.3 55.8 39.6 19.  39.2 16.  31.5 17.3
 23.5 24.7 29.5 34.5 43.  22.4 21.3 35.7 55.1 15.9 24.2 26.6 32.6 26.1
 15.7 26.2 20.  34.8 36.4 39.3 14.2 20.4 19.5 17.5 17.4 31.7 21.6 24.8
 30.6 22.2 50.3 42.9 31.2 56.3 36.3 41.8 16.9 51.  26.9 35.5 32.4 31.3
 28.1 27.5 17.9 19.8 43.4 15.6 22.7 38.7 39.  29.3 31.4 30.3 21.4 42.4
 43.8 26.  19.3 24.3 16.2 46.9 16.1 28.8 28.4 35.1 38.2 35.4 36.5 46.8
 24.1 33.4 29.6 21.1 38.  18.4 23.1 15.3 31.  49.3 20.8 33.1 50.2 27.2
 21.8 30.  39.4 40.1 33.6 34.3 22.8 19.7 35.8 57.7 24.4 33.3 36.9 15.1
 27.1 15.  40.3 34.1 31.8 23.3 37.1 20.6 29.9 28.9 19.9 46.3 42.8 39.7
 39.8 38.5 23.9 58.1 18.6 47.7 23.7 42.5 40.5 47.1 20.1 39.5 42.7 40.9
 14.  28.  41.  25.  57.8 16.6 19.6 43.2 27.3 44.6 32.9 31.1 17.8 20.9
 21.7 62.3 14.7 18.2 41.5 41.1 30.1 47.4 37.7 16.7 18.9 36.  40.7 44.7
 15.4 47.3 15.2 14.3 30.9 21.2 33.8 46.4 33.2 60.  17.6 38.9 36.8 41.2
 36.6 50.5 20.7 44.5 51.5 49.2 42.3 89.1 35.6 44.2 37.6 48.9 38.8 15.8
 58.6 34.4 42.2 37.3 37.8 49.9 38.4 17.2 35.9 18.3 43.3 14.4 46.7 40.
 54.6 41.3 54.  34.6 33.9 38.3 45.5 45.3 37.4 57.3 60.5 68.  13.8 32.3
 48.3 17.  55.9 47.  52.7 17.7 40.8 44.9 46.5 16.5 53.5 14.1 18.8 37.5
 43.1 14.6 45.4 48.7 49.7 63.6 13.4 51.1 56.  43.7 36.1 44.8 46.6 52.3
 13.3 47.2 41.6 51.2 42.  44.1 13.9 53.9 45.2 49.5 15.5 48.6 39.9 41.7
 55.2 50.4 40.2 47.8 36.2 48.1 44.4 58.2 49.1 51.9 12.3 14.5 43.6 48.8
 13.1 40.6 42.1 59.3 43.5 14.9 56.7 45.6 52.4 45.  13.6 46.1 47.9 47.5
 12.7 56.8 58.5 57.6 57.1 49.6 45.8 50.  54.1 14.8 53.6 58.9 48.  49.
 12.2 62.  71.7 60.9 46.2 48.5 97.6 13.5 60.7 57.9 11.2 47.6 52.9 49.4]

Smoking_Status
['never smoked' 'smokes' nan 'formerly smoked']

Stroke
[0 1]

In [10]:
df_train = df_train.replace(" ", pd.NaT)   
df_train = df_train.dropna()

df_test = df_test.replace(" ", pd.NaT)     
df_test = df_test.dropna()

print("df_train size:", df_train.shape)
print("df_test size:", df_test.shape)

df_train size: (12493, 11)
df_test size: (4213, 11)

In [11]:
df_test = df_test.reset_index()
df_train = df_train.reset_index()

In [12]:
x_train = df_train.drop(["Stroke"], axis=1)   
y_train = df_train["Stroke"]

x_test = df_test.drop(["Stroke"], axis=1)   
y_test = df_test["Stroke"]

print("x_train size:", x_train.shape)
print("y_train size:", y_train.shape)
print("x_test size:", x_test.shape)
print("y_test size:", y_test.shape)

x_train size: (12493, 11)
y_train size: (12493,)
x_test size: (4213, 11)
y_test size: (4213,)

In [13]:
## Encoding categorical Attributes

from sklearn.preprocessing import OneHotEncoder

#Building the one-hot encoder model
encode = OneHotEncoder(handle_unknown='ignore')
encode.fit(x_train)

#Encoding the categorical attributes of training data
x_train = encode.transform(x_train)

#Encoding the categorical attributes of test data
x_test = encode.transform(x_test)

print("x_train :", x_train.shape)
print("x_test :", x_test.shape)

x_train : (12493, 20337)
x_test : (4213, 20337)

In [14]:
# Building a standardization model

scaler = sklearn.preprocessing.StandardScaler(with_mean=False)
scaler.fit(x_train)

# scaling the training features
x_train = scaler.transform(x_train)

# Reducing the number of test features
X_test = scaler.transform(x_test)
print("X train:", x_train.shape)
print("X test:", x_test.shape)

X train: (12493, 20337)
X test: (4213, 20337)

In [15]:
##  reducing the dimensionality 

#Building PCA model

pca = sklearn.decomposition.PCA(n_components=100)
pca.fit(x_train.toarray())

#Reducing the number of training features
x_train = pca.transform(x_train.toarray())

#Reducing the number of test features
x_test = pca.transform(x_test.toarray())

print("X train:", x_train.shape)
print("X test:", x_test.shape)

X train: (12493, 100)
X test: (4213, 100)

In [16]:
## Balancing the Data
## handling imbalanced classes 

sm = imblearn.over_sampling.SMOTE(random_state=42)

x_train, y_train = sm.fit_resample(x_train, y_train)
y_train.value_counts()

#print("X train resampled size:", x_train_resampled.shape)
#print("Y train resampled size:", y_train_resampled.shape)

0    12251
1    12251
Name: Stroke, dtype: int64

In [17]:
model_knn = sklearn.neighbors.KNeighborsClassifier()
model_tree = sklearn.tree.DecisionTreeClassifier()
model_svm = sklearn.svm.SVC()

In [ ]:
parameters_svm = {'kernel':('linear', 'rbf'), 'C':[0.1, 1 , 3,5]}
model_svm = sklearn.svm.SVC()
clf_svm = sklearn.model_selection.GridSearchCV(model_svm, parameters_svm)
clf_svm.fit(x_train,y_train)
y_preds = clf_svm.predict(x_test)
accuracy = sklearn.metrics.accuracy_score(y_preds, y_test)
print(accuracy)

In [ ]:
parameters_knn = {'weights':('uniform', 'distance'), 'n_neighbors' :[2,3,4,5],'n_jobs' :[-1]}
model_knn = sklearn.neighbors.KNeighborsClassifier()
clf_knn = sklearn.model_selection.GridSearchCV(model_knn, parameters_knn)
clf_knn.fit(x_train,y_train)
y_predss = clf_knn.predict(x_test)
accuracy = sklearn.metrics.accuracy_score(y_predss, y_test)
print(accuracy)

In [ ]:
parameters_tree = {'criterion' :('gini', 'entropy'), 'min_samples_leaf':[1,2,4],'min_samples_split':[2,4,6],'max_depth': [5,7,10,13,15]}
model_tree = sklearn.tree.DecisionTreeClassifier()
clf_tree = sklearn.model_selection.GridSearchCV(model_tree, parameters_tree)
clf_tree.fit(x_train,y_train)
y_predsss = clf_tree.predict(x_test)
accuracy = sklearn.metrics.accuracy_score(y_predsss, y_test)
print(accuracy)

In [ ]:
parameters_Lr = {'penalty': (‘l1’, ‘l2’), 'C':[0.1,0.5,1]}
model_Lr = sklearn.linear_model.LogisticRegression()
clf_Lr = sklearn.model_selection.GridSearchCV(model_Lr, parameters_Lr)
clf_Lr.fit(x_train,y_train)
y_predssss = clf_Lr.predict(x_test)
accuracy = sklearn.metrics.accuracy_score(y_predssss, y_test)
print(accuracy)